    <footer>
        <!----------social media section------->
<section id="social-media">
    <div class="container text-center">
        <p>SHARE YOUR COLLECTION ON SOCIALS</p>
    <div class="social-icons">
            <a href="#"><img src=""><i class="fa-brands fa-facebook-f"></i></a>
    </div>
</section>
    </footer>
</body>
</html>
